<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <system.serviceModel>
    <services>
      <service name="ServerPexeso.Services.LoginService">
        <endpoint address="net.tcp://localhost:1234/loginservice" binding="netTcpBinding" bindingConfiguration="" contract="ServiceLibraryPexeso.Interfaces.ILoginService" />
      </service>
      <service name="ServerPexeso.Services.GameService">
        <endpoint address="net.tcp://localhost:1234/gameservice" binding="netTcpBinding" bindingConfiguration="" contract="ServiceLibraryPexeso.Interfaces.IGameService" />
      </service>
      <service name="ServerPexeso.Services.ChatService">
        <endpoint address="net.tcp://localhost:1234/chatservice" binding="netTcpBinding" bindingConfiguration="" contract="ServiceLibraryPexeso.Interfaces.IChatService" />
      </service>
    </services>
  </system.serviceModel>
<connectionStrings>
  <add name="DataContext" connectionString="data source=****;initial catalog=potst2018_JanikJurajDb;user id=potst2018_JanikJuraj;password=****;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings></configuration>